---
is_hidden: true
title: "Some Site's Feed"
---

<%=
  atom_feed( 
    :limit => 10,
    :content_proc => lambda {|item|
		# If yout want some page to go to feed, but want some message instead it's content,
		# declare it in `feed_message` variable.
		if item[:feed_message]
			item[:feed_message] +  ' → <a href="' + url_for(item) + '">«'+ item[:title] +'»</a>'
		else
			item.compiled_content
		end
	})
%>
